<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>Car Zone</title>

    {% block stylesheets %}

        <link rel="stylesheet" href="{{ asset('css/site.css') }}">
        <link rel="stylesheet" href="{{ asset('css/welcome.css') }}">
        <link rel="stylesheet" href="{{ asset('css/car-listings.css') }}">
        <link rel="stylesheet" href="{{ asset('css/login-register.css') }}">
        <link rel="stylesheet" href="{{ asset('css/my-listings.css') }}">
        <link rel="stylesheet" href="{{ asset('css/footer.css') }}">
        <link rel="stylesheet" href="{{ asset('css/navigation.css') }}">
        <link rel="stylesheet" href="{{ asset('css/notifications.css') }}">
        <link rel="stylesheet" href="{{ asset('css/listing-details.css') }}">

    {% endblock %}

    <script>
        setTimeout(function () {
            $('#info').fadeOut();
        }, 2000)
    </script>

</head>

<body>
<div id="container">
    {% block header %}
        <header>

            <nav>
                <a class="active" href="{{ path('project_index') }}">HOME</a>
                <a href="#">All Listings</a>
                <div id="profile">
                    {% if app.user %}
                        <a href="#">My Posts</a>
                        <a href="{{ path('post_create') }}">Create Post</a>
                        {#<a>Welcome {{ user.fullName }}</a>#}
                        <a href="{{ path('user_profile') }}">My Profile</a>
                        <a href="{{ path('security_logout') }}">LOGOUT</a>
                    {% else %}
                        <a href="{{ path('user_register') }}">REGISTER</a>
                        <a href="{{ path('security_login') }}">LOGIN</a>
                    {% endif %}
                </div>
            </nav>

        </header>
    {% endblock %}

    <div class="container body-container">
        {% block body %}
            <div class="row">
                <div id="main" class="col-sm-9">
                    {% block main %}{% endblock %}
                </div>
            </div>
        {% endblock %}
    </div>

    {% block footer %}
        <footer>
            <div class="container modal-footer">
                <p>&copy; 2019 - Car Zone</p>
            </div>
        </footer>
    {% endblock %}

</div>
</body>

</html>
