{% extends 'base.html.twig' %}

{% block main %}

    <div id="notifications">
        {% for msg in app.session.flashbag.get('info') %}
            <div id="infoBox" class="notification">
                <span>{{ msg }}</span>
            </div>
        {% endfor %}

        {% for msg in app.session.flashbag.get('errors') %}
            <div id="errorBox" class="notification">
                <span>{{ msg }}</span>
            </div>
        {% endfor %}

    </div>

    <div class="listing-details">
        <div class="my-listing-details">
            <p id="auto-title">{{ post.title }}</p>
            <img src="{{ asset('uploads/images/posts/' ~ post.image) }}">
            <div class="listing-props">
                <h2>Brand: {{ post.brand }}</h2>
                <h3>Model: {{ post.model }}</h3>
                <h3>Year: {{ post.year }}</h3>
                <h3>Fuel: {{ post.fuel }}</h3>
                <h3>Price: {{ post.price }}$</h3>
                <h3>Views: {{ post.viewCount }}</h3>
            </div>
            <div class="listings-buttons">
                {% if app.getUser() and (app.getUser().isAuthor(post) or app.getUser().isAdmin()) %}
                    <a href="{{ path('post_edit', {id: post.id}) }}" class="button-list">Edit</a>
                    <a href="{{ path('post_delete', {id: post.id}) }}" class="button-list">Delete</a>
                    <a href="{{ path('questions_view', {id: post.id}) }}" class="button-list">Questions</a>
                {% else %}
                    <a href="{{ path('question_create', {id: post.id}) }}" class="button-list">Ask</a>
                {% endif %}
                <a href="{{ path('post_all') }}" class="button-list">Back</a>

            </div>
            <p id="description-title">Description:</p>
            <p id="description-para">{{ post.description }}</p>
            <a id="add" class="button-list">Add Comment</a>
            <div id="comment"></div>

            <hr/>

            {% for comment in comments %}
                <p>{{ comment.content }}</p>
                <p>{{ comment.author.fullName }}: <a href="{{ path('user_profile', {id: comment.author.id}) }}"><img src="{{ asset('uploads/images/users/' ~ comment.author.image) }}" width="15px" height="15px"></a></p>
                <small>{{ comment.dateAdded|date("F jS \\a\\t g:ia") }}</small>
                <hr/>
            {% endfor %}

        </div>
    </div>



    <script>
        $('#add').click(function () {
            $('#comment').empty();
            let commentForm =
                `
                <form method="post" action="{{ path('message_create', {id: post.id}) }}">
                    <div class="container">
                        <textarea name="message[content]" placeholder="Enter Content" rows="12"></textarea>
                    </div>
                    <hr>
                    <input type="submit" class="registerbtn" value="Submit"/>
                 </form>
                 `;
            $('#comment').append(commentForm);
            $('#comment').toggle();
        })
    </script>
{% endblock %}

